-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- content_for :head do
  = include_javascripts :home

/.section
/  %h5
/    = t('shared.invitations.invite_your_friends')
/  = render "shared/invitations", :invites => @invites


.span-12
  = render 'aspects/no_contacts_message', :aspect => @aspect, :contact_count => @contacts.count

  #aspect_stream_container
    = render 'aspect_stream',
      :aspect => @aspect,
      :aspect_ids => @aspect_ids,
      :posts => @posts,
      :fakes => @fakes


.fixed_side
  .stream_element
    %br

    %ul.comments
      = render :partial => 'comments/comment', :collection => Post.last.comments
      %li.comment.show
        = new_comment_form(Post.last.id, current_user)
